/* .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }
  
  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .post-content {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .post-author {
    font-size: 0.8rem;
    color: #777;
  }

 */


/* Tailwind CSS */

.post {
  @apply flex flex-col items-center mb-8 border border-solid border-gray-300 p-4 rounded w-full;
}

.post-title {
  @apply text-xl font-bold mb-4;
}

.post-content {
  @apply text-base mb-4;
}

.post-author {
  @apply text-sm text-gray-700;
}
